 body {
    font-size: 14px;
    font-family: open sans;
 }
 .container {
    display: flex;
 }
 /*navigation bar*/
 
 nav {
    display: flex;
 }
 #nav-links {
    list-style: none;
    color: #399bd1;
    display: inline-flex;
    margin-left: -2.5rem;
 }
 #nav-links li {
    margin: 1rem;
    display: inline-flex;
 }
 #nav-links li:hover {
    margin-top: 1rem;
    display: inline-flex;
    font-weight: bold;
 }
 #logo {
    display: inline-flex;
    justify-content: flex-end;
    flex-grow: 1;
    height: 2.5rem;
    align-self: center
 }
 /*nav mobile view*/
 
 @media only screen and (max-width: 480px) {
    #nav-links {
       margin-top: 1rem;
       list-style: none;
       color: #399bd1;
       display: flex;
       margin-left: -3rem;
    }
    #logo {
       display: none;
    }
 }
 /*Jumbotron*/
 
 .jumbotron {
    margin-top: 5rem;
    margin-bottom: 0;
    background-image: url(images/jumbotron-bike.jpg);
    background-size: cover;
    text-align: center;
    width: auto;
 }
 .jumbotron-beer {
    background-image: url(images/jumbotron-beer.jpg);
    background-position: center;
 }
 .jumbotron-flowers {
    background-image: url(images/jumbotron-flowers.jpg);
    background-position: center
 }
 .jumbotron-bag {
    background-image: url(images/jumbotron-duffel.jpg);
    background-position: center;
 }
 #featured-img img {
    width: 100%;
 }
 .jumbotron-text {
    margin: 0rem 20rem;
    margin-bottom: 9rem;
 }
 .jumbotron-text h1 {
    font-family: Monoton;
    font-size: 7.1rem;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-top: 11.85rem;
 }
 .jumbotron-text p {
    color: white;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 4rem;
    justify-content: center;
 }
 .button {
    padding: 1.3rem 3.5rem;
    background-color: #399bd1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bolder;
    border-radius: 10px;
 }
 .button:hover {
    margin-top: 2.8rem;
    padding: 1.3rem 3.5rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    overflow: hidden;
 }
 .button:active {
    margin-top: 2.8rem;
    padding: 1.3rem 3.5rem;
    background-color: #399bd1;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bolder;
    border-radius: 10px;
 }
 /*jumbotron mobile view*/
 
 @media only screen and (max-width: 480px) {
    .jumbotron {
       background-size: cover;
       background-position: center;
       text-align: center;
       width: auto;
    }
    #jumbotron-text {
       margin: 0rem 2rem;
       margin-bottom: 9rem;
    }
 }
 /*Featured project*/
 
 #featured-img {
    margin: 0;
    width: auto;
    height: auto;
 }
 .image-container {
    overflow: hidden;
 }
 .image-container img {
    transition: transform .8s, opacity .5s;
    opacity: .8;
 }
 .image-container img:hover {
    transform: scale(1.3);
    overflow: hidden;
    opacity: 1;
 }
 .image-container:hover {
    overflow: hidden;
 }
 .title {
    font-size: 2rem;
    font-weight: bold;
    color: #399bd1;
    margin-top: 30px;
    margin-bottom: 10px;
    display: block;
 }
 .subtitle {
    font-size: 1.6rem;
    font-weight: bold;
 }
 #project-list .subtitle {
    color: #399bd1;
 }
 #project-list ul {
    list-style: none;
    line-height: 1.4;
    color: rbga(0, 0, 0, .7);
    padding-left: 0;
 }
 /*featured proj mobile view*/
 
 @media only screen and (max-width: 480px) {
    #featured-image .row {}
 }
 /* project*/
 
 #project {
    margin-bottom: 5.85rem;
 }
 /* projects mobile view*/
 
 @media only screen and (max-width: 480px) {
    .description {
       margin-bottom: 6rem;
    }
 }
 /* Having trouble?*/
 
 #having-trouble {
    background-color: #f3f3f3;
    text-align: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 10rem;
 }
 #having-trouble h2 {
    font-size: 2.5rem;
    font-weight: bold;
 }
 #having-trouble p {
    width: 42rem;
    margin: 1.4rem;
 }
 /* having trouble mobile view*/
 
 @media only screen and (max-width: 480px) {
    #having-trouble {
       margin-top: -5rem;
       width: -2rem;
       display: inline-flex;
    }
    #having-trouble p {
       margin-bottom: 5rem;
    }
 }
